.sign-container {
  border: 1px solid rgb(84, 83, 83);
  height: 520px;
  background-color: rgb(6, 5, 5);
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 4px;
  margin-left: 300px;
}
.form-sign {
  margin-top: 200px;
  margin-left: 150px;
}
.user-sign {
  padding: 10px 10px;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(35, 35, 35);
  color: white;
  border-radius: 15px;
}
.sign-button {
  margin-left: 0px;
  margin-top: 10px;
  padding: 10px 10px;
  font-size: medium;
  font-weight: bold;
  border-radius: 15px;
  background-color: red;
  border: 1px solid black;
  width: 250px;
}
